/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */

.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

[class*="col"] {
	flex: 0 0 92%;
	background-color: darkgoldenrod;
}

[class*="col-2"] {
	background-color: bisque;
}

.col-3-1 {
	background-color: cyan;
}

.col-3-3 {
	background-color: coral;
}

.col-4-1 {
	background-color: cadetblue;
}


/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	[class*="col-1"] {
		flex: 0 0 44%;
	}

}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
	[class*="col-1"]{
		flex: 0 0 20%;
	}

	.col-3-1 {
		flex: 0 0 20%;
	}

	[class*="col-2"] {
		flex: 0 0 44%;
	}

	.col-3-3 {
		flex: 0 0 68%;
	}
}