* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.calc-border {
    border: 2px solid #000;
    margin: 0 30%;
    height: 100%;
    width: 400px;
    background-color: #000;
}

.output-screen {
    background-color: #000;
    color: #fff;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}

.calc-buttons {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.calc-button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px 0;
}

.calc-button {
    background-color: rgba(212, 210, 210, 0.918);
    color: #000;
    border: none;
    border-radius: 0;
    height: 100px;
    width: 24.5%;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px 5px;
    cursor: pointer;
}

.calc-button:hover {
    background-color: rgba(212, 210, 210, 0.993);
}

.calc-button:active {
    background-color: rgba(212, 210, 210, 0.808);
}

.calc-button.operator {
    /* inherits from .calc-button */
    background-color: #df984cf1;
    color: rgb(255, 255, 255);
}

.calc-button.operator:hover {
    background-color: #e29a4d;
}

.calc-button.operator:active {
    background-color: #df984ce8;
}

.calc-button.double {
    width: 49.7%;
}

.calc-button.triple {
    width: 74.8%;
}