/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
  }
  /* inherit border-box on all elements in the universe and before and after
   */
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }
  
  body {
      font-family: Arial, Geneva, sans-serif;
  }
  a {
      color: #2772B0;
  }
  .wrapper {
      width: 97%;
      max-width: 1200px;
      margin: 0 auto;
      float: none;
      background-color: #fff;
  }
  
  div img {
      width: 100%;
      max-width: 225px; 
  }
  
  /* grid system -- mobile first! */

  .row1 {
      float: left;
      margin-left: 4%;
      width: 20%;
      height: 350px;
      background-color: cadetblue;
  }

  .row2 {
      float: left;
      background-color: chartreuse;
      margin-left: 4%;
      width: 44%;
  }

  .row3 {
      background-color: crimson;
      float: left;
      margin-left: 4%;
      height: 350px;
  }

  .row3.narrow {
      width: 24%;
  }

  .row3.wide {
      width: 64%;
  }

  .row4 {
      float: left;
      margin-left: 4%;
      width: 92%;
      background-color: cyan;
  }
  
  
  /* Mobile Landscape Screen Sizes */
  @media only screen and (min-width: 480px)  {
  
  }
  /* Desktop screen Sizes */
  @media only screen and (min-width: 768px) {
  
  }