/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
  }
  /* inherit border-box on all elements in the universe and before and after
   */
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }
  
  body {
      font-family: Arial, Geneva, sans-serif;
  }
  a {
      color: #2772B0;
  }
  .wrapper {
      width: 97%;
      max-width: 1200px;
      margin: 0 auto;
      float: none;
      background-color: #fff;
  }
  
  div img {
      width: 100%;
      max-width: 250px; 
  }
  
  /* grid system -- mobile first! */
  .line::after {
    content:"";
    display: table;
    clear:both;
  } 

  [class *= 'row'] {
      margin-left: 4%;
      width: 92%;
      background-color: lightpink;
  }

  .row2 {
      background-color: rgb(238, 182, 255);
  }

  .row3 {
      background-color: rgb(182, 193, 255);
  }

  .row4 {
      background-color: rgb(182, 255, 219);
  }


  /* Mobile Landscape Screen Sizes */
  @media only screen and (min-width: 584px)  {
    [class *= 'row'] {
        float: left;
        margin-left: 4%;
        min-height: 1px;
    }

    .row1 {
        width: 44%;
    }

    .row2, .row3, .row4 {
        width: 92%;
    }
  }
  /* Desktop screen Sizes */
  @media only screen and (min-width: 768px) {
    .row1, .narrow {
        width: 20%;
    }

    .row2 {
        width: 44%;      
    }

    .wide {   
        width: 68%;
    }

    .row4 {
        width: 92%;
    }
  }